html,
body {
    height: 100%;
    margin: 0;
    background: #0b0b0b;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

canvas {
    border: 2px solid #fff;
    background: #111;
}

#pauseBtn,
#restart {
    border: 2px solid #fff;
    background-color: #111;
    color: #fff;
    padding: 0.5rem;
}

#pauseBtn:hover,
#restart:hover {
    cursor: pointer;
}

#btnCon {
    display: flex;
    gap: 0.4rem;
}